In [ ]:
import numpy as np
from statistics import mode, multimode

grouped_data = [(10,20), (20,30), (30,40), (40,50)]
frequencies = [5, 7, 10, 8]
sum_frequencies = sum(frequencies)
midpoints = [(upper+lower)/2 for upper, lower in grouped_data]
total_sum = np.dot(midpoints, frequencies)
mean = total_sum / sum_frequencies
print(f"The mean of the grouped data is: {mean}")

The mean of the grouped data is: 32.0

In [ ]:
import numpy as np
from statistics import mode, multimode

#ENNUMERATE
fruits = ["Apple", "Banana", "Cherry"]
for i, name in enumerate(fruits, start=1):
  print("Fruit",i,":",name)

Fruit 1 : Apple
Fruit 2 : Banana
Fruit 3 : Cherry